.TutorialHeader {
    background-color: rgb(90, 172, 172, 0.5);
    width: 100vw;
    height: 10vh;
}

.Tutorial {
    background-color: rgb(90, 172, 172, 0.5);
    width: 100vw;
    
}
.Tutorial h1 {
    text-align: center;
}
.Tutorial p {
    text-align: left;
}
.Tutorial h2 {
    text-align: center;
}
.Tutorial img {
    max-width: 25%;
    max-height: 25%;
    object-fit: cover;
}
div .ExampleVideo {
    background-color: rgb(90, 172, 172);
   width: 25vw;
   height: 25vh;
}
